# Binaries
**/bin/
!vendor/bin/premake/
bin-int/

Sandbox/HazelProfile-Runtime.json
Sandbox/HazelProfile-Shutdown.json
Sandbox/HazelProfile-Startup.json

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user